@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 다크 모드 스타일 */
body.dark-mode {
  background-color: #1a1a1a; /* 다크 모드 배경색 */
  color: #ffffff; /* 다크 모드 텍스트 색상 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
